Repository bottle-note/bottle-note-frontend, pull requests merged in 2024-11, with the labels that each got.

#175 [#114] 마이보틀 API 연동
  src/app/(primary)/rating/page.tsx
  src/app/(primary)/search/_components/SearchContainer.tsx
  src/app/(primary)/search/page.tsx
  src/app/(primary)/user/[id]/my-bottle/page.tsx
Labels: Feat, Style, Refactor

#178 [#173] Review 주소 관련 개선 및 버그 수정
  src/app/(primary)/inquire/register/page.tsx
  src/app/(primary)/review/[id]/_components/ReviewDetails.tsx
  src/app/(primary)/review/_components/AddressForm.tsx
  src/app/(primary)/review/_components/KakaoAddressMap.tsx
  src/app/(primary)/review/_components/SearchAddress.tsx
  src/app/(primary)/review/modify/page.tsx
  src/app/(primary)/review/register/page.tsx
  src/app/api/AlcholsApi.ts
  src/constants/common.ts
  src/style/globals.css
  src/types/Review.ts
Labels: Feat, Modify, Fix, Style

#179 [#176] 리프레시 토큰 갱신 안됨 이슈
  src/app/(primary)/layout.tsx
  src/app/api/AuthApi.ts
  src/app/api/token/renew/route.ts
  src/store/modalStore.ts
  src/utils/fetchWithAuth.ts
Labels: Fix

#186 [#146] Review 개선 및 기능, API 수정
  package.json
  src/app/(primary)/_components/AlcoholImage.tsx
  src/app/(primary)/_components/FlavorTag.tsx
  src/app/(primary)/_components/HotList.tsx
  src/app/(primary)/_components/Label.tsx
  src/app/(primary)/_components/LikeBtn.tsx
  src/app/(primary)/_components/PickBtn.tsx
  src/app/(primary)/_components/Toggle.tsx
  src/app/(primary)/review/[id]/_components/AlcoholInfo.tsx
  src/app/(primary)/review/[id]/_components/Reply/Reply.tsx
  src/app/(primary)/review/[id]/_components/ReviewDetails.tsx
  src/app/(primary)/review/[id]/page.tsx
  src/app/(primary)/review/_components/AddressForm.tsx
  src/app/(primary)/review/_components/AlcoholInfo.tsx
  src/app/(primary)/review/_components/ContentForm.tsx
  src/app/(primary)/review/_components/ImagesForm.tsx
  src/app/(primary)/review/_components/KakaoAddressMap.tsx
  src/app/(primary)/review/_components/PriceForm.tsx
  src/app/(primary)/review/_components/RatingForm.tsx
  src/app/(primary)/review/_components/SelectFlavor.tsx
  src/app/(primary)/review/_components/TagsForm.tsx
  src/app/(primary)/review/modify/page.tsx
  src/app/(primary)/review/register/page.tsx
  src/app/(primary)/search/[category]/[id]/_components/AlcoholBox.tsx
  src/app/(primary)/search/[category]/[id]/_components/Review.tsx
  src/app/(primary)/search/[category]/[id]/page.tsx
  src/app/(primary)/search/[category]/[id]/reviews/page.tsx
  src/app/api/AlcholsApi.ts
  src/app/api/RateApi.ts
  src/app/api/ReplyApi.ts
  src/app/api/ReviewApi.ts
  src/app/layout.tsx
  src/components/CategorySelector.tsx
  src/components/HorizontalItem.tsx
  src/components/StarRaiting.tsx
  src/types/Alcohol.ts
  src/types/Review.ts
  src/types/User.ts
  src/utils/fetchWithAuth.ts
  tailwind.config.ts
  yarn.lock
Labels: Feat, Modify, Fix, Style, Refactor
